

.phonebookHeader,
.phonebookButton {
  background-color: #5c5080;
  border: none;
  /* background-color: #4D436B; */
  color: #dddbe2;
  text-align: center;
  padding: 15px;
    
}


.phonebookButton {
  font-size: 24px;
  font-weight: 700;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid #5c5080;
}
.phonebookButton:hover {
  background-color: #fba689;
  color: white;
  border: 1px solid white;
}
.phonebookHeader {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.phonebookInput {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
}
.phonebookForm {
  display: flex;
  flex-direction: column;
}
.phonebookInputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.phonebookLabel {
  margin-right: 20px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

input:focus,
button:focus {
  outline: 0;
}
.phonebookFilter {
  max-width: 400px;
}

.phonebookContact {
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  color: black;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  margin-bottom: 10px;
}


/* mobile  */
@media(max-width: 767px) {
  .phonebookInputWrap {
    margin: 0 20px 20px 20px;

  }
  .phonebookInput {
    width: 200px;
    max-width: 200px;
  }
   .phonebookLabel {
    font-size: 0.9em;
    font-weight: 600;
    width: 20%;
  }
    .phonebookHeader {
      max-width: 100%;
    margin-bottom: 20px;
margin-top: 0;
        border-radius: 0%;
    }
    .phonebookButton {
       border-radius: 0%;
       width: 80%;
       max-width: 80%;
       margin: 0 auto 20px auto;
    }
    .phonebookContact {
      max-width: 90%;
      box-sizing: border-box;
      /* padding: 0; */
    margin: 0 auto;
    }
}